doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      ul 
        li
          a(href="/") Home page 
        li 
          a(href="/service") Our services 
        li
          a(href="/contact") Contact us
  block content 